@import "/src/Global";

.Midia {
  @include phone-style {
    display: none;
  }

  position: fixed;
  top: 50%;
  right: 45px;
  z-index: 10;
  transform: translateY(-50%);
  height: 0;
  width: 0;
  
  &__list {
    display: flex;
    flex-direction: column;
  }
}