@import "/src/Global";

$laptop-st: 1.5;
$tablet-st: 1.5;

.homePage {
  background-color: $primary-color;
  display: flex;
  justify-content: center;

  @include phone-style {
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0;
    align-items: center;
  }

  @include tablet-style {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(440px * $tablet-st);
    padding: calc(16px * $tablet-st) calc(16px * $tablet-st) 0 calc(16px * $tablet-st);
  }
  
  &__container {
   position: relative;
   width: 100%;
   height: 725px;
   margin: 0 42px 0 43px;
  
   background-color: $primary-color;

   display: grid;
   grid-template-columns: repeat(12, 90px);
   gap: 25px;
   place-content: center;

   background-image: url('../../../../public/images/FrameNet\(1\).svg');
   background-position: top center;
   background-repeat: no-repeat;
   background-size: 100%;

   @include phone-style {
     width: 100%;
     grid-template-columns: repeat(4, 73px);
     gap: 16px;
     justify-content: center;
     background-position: top left;
     background-size: 234%;
     margin: 0;
   }

   @include laptop-style {
      height: calc(725px / $laptop-st);
      grid-template-columns: repeat(12, calc(90px / $laptop-st));
      gap: calc(25px / $laptop-st);
      margin: 0 calc(42px / $laptop-st) 0 calc(43px / $laptop-st);
   }

   @include tablet-style {
      grid-template-columns: repeat(4, calc(73px * $tablet-st));
      gap: calc(16px * $tablet-st);
      justify-content: center;
      background-position: top left;
      background-size: 293%;
      margin: 0;
   }
  }

  &__mob-button {
    display: none;
    margin-bottom: 16px;
    background-color: transparent;
    border: transparent;
    align-self: flex-start;
    cursor: pointer;

    @include phone-style {
      display: block;
      width: 32px;
      height: 32px;
    }

    @include tablet-style {
      display: block;
      width: calc(32px * $tablet-st);
      height: calc(32px * $tablet-st);
    }
  }

  &__title {
    position: absolute;
    top: 10.5%;
    font-size: 48px;
    font-family: NeueBold, sans-serif;
    color: $white-100;
    font-weight: bold;
    grid-column: 1/6;
    background: transparent;
    letter-spacing: 2px;

    @include phone-style {
      grid-column: 1/5;
      font-size: 16px;
      left: 0;
      top: 24px;
      letter-spacing: 1;
    }

    @include laptop-style {
      font-size: calc(48px / $laptop-st) ;
      grid-column: 1/7;
    }

    @include tablet-style {
      grid-column: 1/5;
      font-size: calc(16px * $tablet-st);
      left: 0;
      top: calc(24px * $tablet-st);
      letter-spacing: 1;
    }
  }

  &__h1 {
    grid-column: 5/13;
    width: 100%;
    text-align: end;
    position: absolute;
    bottom: 28%;
    font-size: 48px;
    font-weight: bold;
    font-family: NeueBold, sans-serif;
    color: $secondary-color;
    letter-spacing: 2px;
    background: transparent;

    @include phone-style {
      grid-column: 1 / 5;
      letter-spacing: 0;
      font-size: 17px;
      top: 132px;
      text-align: end;
    }

    @include laptop-style {
      font-size: calc(48px / $laptop-st);
    }

    @include tablet-style {
      grid-column: 1 / 5;
      letter-spacing: 0;
      font-size: calc(17px * $tablet-st);
      top: calc(132px * $tablet-st);
      text-align: end;
    }
  }

  &__husto {
    text-align: center;
    font-family: NeueBold, sans-serif;
    font-size: 300px;
    font-weight: bold;
    position: absolute;
    grid-column: 3 / 11;
    top: 12.5%;
    left: -3%;
    color: $white-100;
    letter-spacing: -0.05em;
    background: transparent;
    z-index: 2;
  
    @include phone-style {
      grid-column: 1 / 5;
      font-size: 88px;
      left: 51px;
      top: 27px;
    }
  
    @include laptop-style {
      font-size: calc(300px / $laptop-st);
    }
  
    @include tablet-style {
      grid-column: 1 / 5;
      font-size: calc(88px * $tablet-st); 
      left: calc(51px * $tablet-st); 
      top: calc(27px * $tablet-st);
    }
  }
  
  &__hash {
    width: 244px;
    height: 216px;
    grid-column: 2 / 4;
  
    position: absolute;
    top: 17%;
    left: -16%;
    background: transparent;
    z-index: 3;
  
    @include phone-style {
      width: 89px;
      height: 78px;
      grid-column: 1 / 3;
      left: -12px;
      top: 42px;
    }
  
    @include laptop-style {
      width: calc(244px / $laptop-st);
      height: calc(244px / $laptop-st);
    }
  
    @include tablet-style {
      width: calc(89px * $tablet-st);   
      height: calc(78px * $tablet-st); 
      grid-column: 1 / 3;
      left: calc(-12px * $tablet-st);
      top: calc(42px * $tablet-st);
    }
  }
  
  &__box-arrow1 {
    width: 254px;
    height: 220px;
    grid-column: 9 / 12;
    position: absolute;
    top: 33%;
    left: 42%;
    transform: rotate(-19deg);
  
    background-image: url('../../../../public/images/Header-aroow1(new).svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    @include phone-style {
      width: 45px;
      height: 39px;
      grid-column: 4 / 5;
      transform: rotate(-18deg);
      top: 97px;
      left: 33px;
    }
  
    @include laptop-style {
      width: calc(254px / $laptop-st);
      height: calc(220px / $laptop-st);
    }
  
    @include tablet-style {
      width: calc(45px * $tablet-st);
      height: calc(39px * $tablet-st);
      grid-column: 4 / 5;
      transform: rotate(-18deg);
      top: calc(97px * $tablet-st);
      left: calc(33px * $tablet-st);
    }
  }
  
  &__big-arrow1 {
    background: transparent;
  }
  
  &__box-arrow2 {
    width: 254px;
    height: 220px;
    position: absolute;
    top: 49%;
    left: 0%;
    grid-column: 4 / 7;
  
    background-size: cover;
    background-image: url('../../../../public/images/Header-arrow2.svg');
    background-position: center;
    background-repeat: no-repeat;
  
    @include phone-style {
      width: 52px;
      height: 36px;
      grid-column: 1 / 3;
      top: 116px;
      left: 32px;
    }
  
    @include laptop-style {
      width: calc(254px / $laptop-st);
      height: calc(220px / $laptop-st);
    }
  
    @include tablet-style {
      width: calc(52px * $tablet-st);
      height: calc(36px * $tablet-st);
      grid-column: 1 / 3;
      top: 175px;;
      left: calc(32px * $tablet-st);
    }
  }
  
  &__dog1 {
    position: absolute;
    top: 11%;
    grid-column: 8 / 10;
    background: transparent;
    z-index: 3;
  
    @include phone-style {
      display: none;
    }
  
    @include laptop-style {
      width: calc(114px / $laptop-st);
      height: calc(128px / $laptop-st);
      top: 15%;
      left: 10%;
    }
  
    @include tablet-style {
      display: none;
    }
  }
  
  &__dog2 {
    width: 114px;
    height: 128px;
    grid-column: 10 / 13;
    position: absolute;
    top: 12.5%;
    left: 39%;
    background: transparent;
  
    @include phone-style {
      display: none;
    }
  
    @include laptop-style {
      width: calc(114px / 1.7);
      height: calc(128px / 1.7);
    }
  
    @include tablet-style {
      display: none;
    }
  }
  
  &__from {
    grid-column: 8 / 9;
    position: absolute;
    top: 15%;
    left: -33%;
    font-family: NeueMedium, sans-serif;
    font-size: 24px;
    color: $secondary-color;
    background: transparent;
    z-index: 4;
  
    @include phone-style {
      display: none;
    }
  
    @include laptop-style {
      font-size: calc(24px / $laptop-st);
      top: 18%;
      left: -11%;
    }
  
    @include tablet-style {
      top: calc(15% * $tablet-st);      
      left: calc(-33% * $tablet-st);
      font-size: calc(24px * $tablet-st);
    }
  }
  
  &__beginner {
    grid-column: 9 / 10;
    position: absolute;
    top: 24%;
    left: 17%;
    font-family: NeueMedium, sans-serif;
    line-height: 130%;
    font-size: 24px;
    color: $secondary-color;
    background: transparent;
    z-index: 4;
  
    @include phone-style {
      display: none;
    }
  
    @include laptop-style {
      font-size: calc(24px / $laptop-st);
      left: 0;
    }
  
    @include tablet-style {
      display: none;
    }
  }
  
  &__advanced {
    grid-column: 10 / 12;
    width: 205px;
    position: absolute;
    top: 12%;
    font-family: NeueMedium, sans-serif;
    line-height: 130%;
    font-size: 24px;
    color: $secondary-color;
    z-index: 2;
    text-align: center;
    background: transparent;
  
    @include phone-style {
      display: none;
    }
  
    @include laptop-style {
      font-size: calc(24px / $laptop-st);
      left: -29%;
    }
  
    @include tablet-style {
      display: none;
    }
  }

  &__box-to {
    grid-column: 10 / 11;
    position: absolute;
    top: 13%; 
    left: -24%;
    background: transparent;
  
    @include phone-style {
      display: none;
    }
  
    @include laptop-style {
      width: calc(72px / $laptop-st);
      height: calc(79px / $laptop-st);
    }
  
    @include tablet-style {
      top: calc(13% * $tablet-st);
      left: calc(-24% * $tablet-st);
    }
  }
  
  &__p {
    grid-column: 1 / 6;
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    background: transparent;
    letter-spacing: 1px;
    font-family: NeueMedium, sans-serif;
    font-size: 24px;
    line-height: 130%;
    color: $white-100;
  
    @include phone-style {
      font-size: 16px;
      grid-column: 1 / 5;
      top: 161px;
      letter-spacing: 0;
    }
  
    @include laptop-style {
      font-size: calc(24px / $laptop-st);
    }
  
    @include tablet-style {
      font-size: calc(16px * $tablet-st);
      grid-column: 1 / 5;
      top: calc(161px * $tablet-st);     
      letter-spacing: 0; 
    }
  }
  
  &__button {
    height: 48px;
    width: 100%;
    grid-column: 1 / 5;
  
    &--1 {
      width: 263px;
      grid-column: 7 / 10;
      position: absolute;
      left: 24%;
      bottom: 16%;
      
      @include button;
  
      @include phone-style {
        grid-column: 1 / 5;
        width: 343px;
        height: 40px;
        left: 0;
        top: 304px;
        background: $primary-color;
        color: $white-100;
        border: 1px solid $white-100;
      }
  
      @include tablet-style {
        grid-column: 1 / 5;
        width: calc(343px * $tablet-st);
        top: calc(304px * $tablet-st);
        left: 50%;
        transform: translate(-50%);
      }
  
      &:active {
        @include phone-style {
          color: $white-100;
        }
  
        @include tablet-style {
          color: $white-100;
        }
      }
  
      @include laptop-style {
        width: calc(263px / $laptop-st);
      }
    }
  
    &--2 {
      width: 267px;
      grid-column: 10 / 12;
      position: absolute;
      left: 26%;
      bottom: 16%;
      
      @include button;
  
      @include phone-style {
        width: 343px;
        height: 40px;
        left: 0;
        top: 248px;
        grid-column: 1 / 5;
      }
  
      @include tablet-style {
        width: calc(343px * $tablet-st);
        top: calc(248px * $tablet-st);
        grid-column: 1 / 5;
        left: 50%;
        transform: translate(-50%);
      }
    }
  
    @include laptop-style {
      width: calc(267px / $laptop-st);
      height: calc(48px / $laptop-st);
    }

    @include phone-style {
      padding-right: 4px; 
    }

    @include tablet-style {
      height: calc(40px * $tablet-st);
      border-radius: calc(24px * $tablet-st);
      padding-left: calc(16px * $tablet-st);
      padding-right: calc(8px * $tablet-st);
      font-size: calc(16px * $tablet-st);
    }
  }
  
  &__button-text1 {
    width: 191px;
    text-align: center;
  
    @include phone-style {
      width: 90%; 
      color: $white-100;
    }
  
    @include tablet-style {
      width: 90%;
    }
  
    @include laptop-style {
      width: calc(191px / $laptop-st);
      font-size: calc(16px / $laptop-st);
    }
  }
  
  &__button-text2 {
    width: 200px;
    text-align: center;
  
    @include phone-style {
      width: 90%;
    }
  
    @include tablet-style {
      width: 90%;
    }
  
    @include laptop-style {
      width: calc(200px / $laptop-st);
      font-size: calc(16px / $laptop-st);
    }
  }
  
  &__button2 {
    @include circle-button;
  
    &--phone {
      @include phone-style {
        border: 1px solid $white-100;
      }
  
      @include tablet-style {
        border: 1px solid $white-100;
        width: calc(32px * $tablet-st);
        height: calc(32px * $tablet-st);
        border-radius: calc(27px * $tablet-st); 
      }
    }
  
    @include laptop-style {
      width: calc(34px / $laptop-st);
      height: calc(34px / $laptop-st);
    }
  }
  
  &__button-img {
    @include button-image;

    @include laptop-style {
      width: calc(10px / $laptop-st);
      height: calc(10px / $laptop-st);
    }
  
    &--clicked1 {
      transform: rotate(45deg);
    }
  
    &--clicked2 {
      transform: rotate(45deg);
    }

    &--clicked0 {
      transform: rotate(0);
    }
  }
}