@import "/src/Global";

$tablet-st: 1.3;

.burgerMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 16px 16px 8px;
  display: flex;
  background-color: $primary-color;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow: hidden;
  z-index: 100;
  cursor: pointer;

  @media  (min-width: 962px) {
    display: none !important;
  }
  
  transform: translateX(-100%);
  transition: 1s ease-in-out;

  &--turnOnBurger {
    position: absolute;
    transform: translateX(0);
    z-index: 100;

    @include tablet-style {
      gap: calc(24px * $tablet-st);
    }
  }

  &__back {
    width: 100%;
    height: 44px;
    display: inline-flex;
    align-items: center;
    gap: 3px;

    @include tablet-style {
      height: calc(44px * $tablet-st);
      gap: calc(3px) * $tablet-st;
    }
  }

  &__husto {
    width: 317px;
    height: 98px;
    position: relative;
    font-family: NeueBold, sans-serif;
    font-size: 88px;
    color: $white-100;
    text-align: end;

    letter-spacing: -5px;

    display: flex;
    align-items: center;
    justify-content: end;

    
    &::after {
      content: "";
      background-image: url('../../../public/images/hash(1).svg');
      background-size: 74px 64px; 
      background-repeat: no-repeat; 
      width: 74px;  
      height: 64px; 
      position: absolute;
      left: -7px;
      top: 0;

      @include tablet-style {
        background-size: calc(74px * $tablet-st) calc(64px * $tablet-st); 
        width: calc(74px * $tablet-st);  
        height: calc(64px * $tablet-st); 
        left: calc(-7px * $tablet-st);
      }
    }

    @include tablet-style {
      width: calc(317px * $tablet-st);
      height: calc(98px * $tablet-st);
      font-size: calc(88px * $tablet-st);
    }
  }

  &__arrow {
    width: 17px;
    height: 22px;

    @include tablet-style {
      width: calc(17px * $tablet-st);
      height: calc(22px * $tablet-st);
    }
  }

  &__back-text {
    font-family: NeueRegular, sans-serif;
    font-size: 16px;
    color: $white-100;

    @include tablet-style {
      font-size: calc(16px * $tablet-st);
    }
  }

  &__nav  {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 26%;

    @include tablet-style {
      gap: calc(16px * $tablet-st);
    }
  }

  &__link {
    width: 343px;
    height: 43px;
    text-align: center;

    &:hover {
      background-color: $primary-color;
      border: 1px solid $white-100;
    }

    @include tablet-style {
      width: calc(343px * $tablet-st);
      height: calc(43px * $tablet-st);
      font-size: calc(16px * $tablet-st);
    }
  }

  &__indicator {
    width: 375px;
    height: 34px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: $primary-color;
    cursor: ns-resize;

    @include tablet-style {
      width: calc(343px * $tablet-st);
      height: calc(43px * $tablet-st);
    }

    &::after {
      content: '';
      width: 134px;
      height: 5px;
      position: absolute;
      background-color: $white-100;
      border-radius: 100px;
      z-index: 100;
      bottom: 8px;

      @include tablet-style {
        width: calc(134px * $tablet-st);
        height: calc(5px) * $tablet-st;
        bottom: calc(8px) * $tablet-st;
      }
    }
  }
}