@import "/src/Global";

$laptop-st: 1.3; 
$tablet-st: 1.5;

.footer {
  height: 336px;
  
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  padding: 0;
  
  @include phone-style {
    height: 394px;
    background-size: 300%;
    padding: 0 16px;
  }

  @include tablet-style {
    height: calc(415px * $tablet-st);
  }

  @include laptop-style {
    height: calc(336px / $laptop-st);
  }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(12, 90px);
    column-gap: 25px;
    padding: 72px 0;
    justify-content: center;

    background-image: url('../../../public/images/net.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;


    @include phone-style {
      display: grid;
      place-content: center;
      grid-template-columns: repeat(4, 73px);
      grid-template-rows: 98px 192px 29px;
      gap: 16px;
      padding: 0;
    }

    @include tablet-style {
      grid-template-columns: repeat(4, calc(73px * $tablet-st));
      grid-template-rows: calc(98px * $tablet-st) calc(192px * $tablet-st) calc(29px * $tablet-st);
      gap: calc(16px * $tablet-st);
      padding: calc(24px * $tablet-st) calc(16px * $tablet-st);
    }

    @include laptop-style {
      grid-template-columns: repeat(12, calc(90px / $laptop-st));
      column-gap: calc(25px / $laptop-st);
      padding: calc(72px / $laptop-st) calc(42px / $laptop-st);
      background-position: unset;
      background-size: unset;
      background-repeat: unset;
    }
  }

  &__title {
    position: relative;
    grid-column: 2/8;
    left: 27px;
    font-family: NeueBold, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: $secondary-color;
    letter-spacing: 1px;
    line-height: 130%;
    background: transparent;

    @include phone-style {
      font-size: 24px;
      grid-column: 1/4;
      margin: 0;
    }

    @include tablet-style {
      font-size: calc(24px * $tablet-st);
      grid-column: 1/5;
    }

    @include laptop-style {
      left: calc(27px / $laptop-st);
      margin-bottom:calc(67px / $laptop-st);
      font-size: calc(40px / $laptop-st);
    }

    &::after {
      content: '';
      width: 36px;
      height: 31px;
      background-image: url('../../../public/images/hash(1).svg');
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: -5px;
      left: -25px;

      @include phone-style {
        width: 35px;
        height: 40px;
        left: -33px;
        top: -6px;
      }

      @include tablet-style {
        width: calc(35px * $tablet-st);
        height: calc(40px * $tablet-st);
        left: calc(-33px * $tablet-st);
        top: calc(-6px) * $tablet-st;
      }

      @include laptop-style {
        width: calc(36px / $laptop-st);
        height: calc(31px / $laptop-st);
        left: calc(-25px / $laptop-st);
        top: calc(-5px / $laptop-st);
      }
    }
  }

  &__email {
    grid-column: 2/6;
    grid-row: 2;
    font-family: NeueMedium, sans-serif;
    font-size: 18px;
    color: $white-100;
    background: transparent;

    @include phone-style {
      grid-column: 1/5;
      grid-row: 3;
    }

    @include tablet-style {
      font-size: calc(18px * $tablet-st);
    }

    @include laptop-style {
      font-size: calc(18px / $laptop-st);
    }
  }

  &__span {
    color: $secondary-color;
    background: transparent;
  }

  &__midia {
    grid-column: 8/10;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: NeueMedium, sans-serif;
    font-size: 18px;
    color: $secondary-color;
    background: transparent;

    @include phone-style {
      grid-column: 3/5;
      grid-row: 2;
    }

    @include tablet-style {
      gap: calc(16px * $tablet-st);
      font-size: calc(18px * $tablet-st);
    }

    @include laptop-style {
      gap: calc(16px / $laptop-st);
      font-size: calc(18px / $laptop-st);
    }
  }

  &__midia-title {
    background: transparent;
  }
  
  &__midia-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: transparent;

    @include tablet-style {
      gap: calc(8px * $tablet-st);
    }

    @include laptop-style {
      gap: calc(8px / $laptop-st);
    }
  }
  
  &__link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background: transparent;

    @include laptop-style {
      gap: calc(4px / $laptop-st);
    }

    @include tablet-style {
      gap: calc(4px * $tablet-st);
    }
  }

  &__p {
    font-family: NeueMedium, sans-serif;
    font-size: 16px;
    color: $white-100;
    background: transparent;

    @include laptop-style {
      font-size: calc(16px / $laptop-st);
    }

    @include tablet-style { 
      font-size: calc(16px * $tablet-st);
    }
  }
  
  &__icon {
    width: 15px;
    height: 15px;
    background: $primary-color;

    @include laptop-style {
      width: calc(15px / $laptop-st);
      height: calc(15px / $laptop-st);
    }

    @include tablet-style {
      width: calc(15px * $tablet-st);
      height: calc(15px * $tablet-st);
    }
  }

  &__nav {
    grid-column: 11/12;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    gap: 8px;

    @include phone-style {
      grid-column: 1/3;
      grid-row: 2;
      gap: 8px;
    }

    @include tablet-style {
      gap: calc(8px * $tablet-st);
    }

    @include laptop-style {
      gap: calc(8px / $laptop-st);
    }
  }

  &__navlink {
    font-family: NeueMedium, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #F5F7FA;
    line-height: 1;
    padding-left: 8px;
    transition: background-color 0.3s, color 0.3s;
    background: transparent;
    
    &:hover {
      border-radius: 24px;
      background-color: #1D8A86;
      color: #F5F7FA;
    }

    @include phone-style {
      padding-left: 0;
      margin-bottom: 0px;
    }

    @include tablet-style {
      font-size: calc(16px) * $tablet-st;
      padding-left: 0;
    }

    @include laptop-style {
      font-size: calc(16px / $laptop-st );
      padding-left: calc(8px / $laptop-st);
    }
  }

  &__navlink-h {
    font-family: NeueMedium, sans-serif;
    font-size: 18px;
    color: $secondary-color;
    background: transparent;
    margin-bottom: 8px;

    @include laptop-style {
      font-size: calc(18px / $laptop-st);
      margin-bottom: calc(8px / $laptop-st );
    }

    @include tablet-style {
      font-size: calc(18px * $tablet-st);
    }
  }
}


