@import "/src/Global";

$laptop-st: 1.3;
$tablet-st: 1.5;

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__buttons {
    display: inline-flex;
    margin-bottom: 56px;

    @include phone-style {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;
    }

    @include laptop-style{
      margin-bottom: calc(56px / $laptop-st);
    }
  }

  &__uk {
    position: relative;
    width: 261px;
    height: 54px;
    border-radius: 24px 0 0 24px;
    background-color: $white-100;
    border: transparent;
    cursor: pointer;

    &::after {
      content: 'Український викладач';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 261px;
      height: 54px;
      border-radius: 24px;

      font-family: NeueMedium, sans-serif;
      font-size: 18px;
      color: $white-100;
      background-color: $card-color;
      transition: 1s;

      @include phone-style {
        width: 343px;
        height: 40px;
        border-radius: 24px;
        font-size: 16px;
      }

      @include laptop-style {
        width: calc(261px / $laptop-st);
        height: calc(54px / $laptop-st);
        font-size: calc(18px / $laptop-st);
      }
    }

    &--active::after {
      background-color: $white-100;
      color: $black-5;
    }

    @include phone-style {
      width: 343px;
      height: 40px;
      border-radius: 24px;
    }

    @include laptop-style {
      width: calc(261px / $laptop-st);
      height: calc(54px / $laptop-st);
    }
  }

  &__en {
    position: relative;
    width: 271px;
    height: 54px;
    
    background-color: $white-100;
    border-radius: 0 24px 24px 0;
    border: transparent;
    cursor: pointer;
  
    &::after {
      content: 'Англомовний викладач';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 272px;
      height: 54px;
      border-radius: 24px;

      font-family: NeueMedium, sans-serif;
      font-size: 18px;
      color: $white-100;
  
      background-color: $card-color;
      transition: 1s;

      @include phone-style {
        width: 343px;
        height: 40px;
        border-radius: 24px;
        border: 1px solid $white-100;
        background-color: $primary-color;
        font-size: 16px;
      }

      @include laptop-style {
        width: calc(261px / $laptop-st);
        height: calc(54px / $laptop-st);
        font-size: calc(16px / $laptop-st);
      }
    }

      &--active::after {
        background-color: $white-100;
        color: $black-5;
    }

    @include phone-style {
      width: 343px;
      height: 40px;
      border-radius: 24px;
    }

    @include laptop-style {
      width: calc(261px / $laptop-st);
      height: calc(54px / $laptop-st);
      font-size: calc(16px / $laptop-st);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 82px;


    @include phone-style {
      width: 343px;
      overflow-x: hidden;
      justify-content: flex-start;
      flex-flow: row nowrap;
      scroll-snap-type: x mandatory; 
      -webkit-overflow-scrolling: touch;
      margin-bottom: 8px;
    }

    @include laptop-style {
      gap: calc(82px / $laptop-st);
    }
  }

  &__card {
    width: 320px;
    height: 414px;
    background-color: $card-color;
    padding: 32px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #C8CFD7;
    border-radius: 24px;
    scroll-snap-align: start;


    @include phone-style {
      width: 343px;
      height: 349px;
      padding: 16px 48px;
      flex: 0 0 auto;
    }

    @include laptop-style {
      width: calc(318px / $laptop-st);
      height: calc(414px / $laptop-st);
      padding: calc(32px / $laptop-st)calc( 24px / $laptop-st);
      border-radius: calc(24px / $laptop-st);
    }
  }

  &__card-title {
    font-family: NeueMedium, sans-serif;
    font-size: 32px;
    color: $secondary-color;

    @include phone-style {
     font-size: 24px;
     margin-bottom: 4px;
    }

    @include laptop-style {
      font-size: calc(32px / $laptop-st);
    }
  }

  &__card-subtitle {
    margin-bottom: 16px;
    font-family: NeueMedium, sans-serif;
    font-size: 18px;
    line-height: 130%; 
    color: $white-100;

    @include phone-style {
      font-size: 16px;
    }

    @include laptop-style {
      margin-bottom: calc(16px / $laptop-st);
      font-size: calc(18px / $laptop-st);
    }
  }

  &__card-pbox {
    display: inline-flex;
    align-self: flex-start;
    margin-bottom: 8px;

    @include laptop-style {
      font-size: calc(8px / $laptop-st);
    }
  }

  &__card-pbox:nth-of-type(3) {
    margin-bottom: 16px;

    @include laptop-style {
      font-size: calc(16px / $laptop-st);
      margin-bottom: calc(8px / $laptop-st);
    }
  }

  &__card-p {
    font-family: ComicSansRegular, sans-serif;
    font-size: 18px;
    line-height: 130%;
    color: $white-100;

    @include phone-style {
      font-size: 16px;
    }

    @include laptop-style {
      font-size: calc(18px / $laptop-st);
    }
  }

  &__card-img {
    width: 25px;
    height: 22px;

    @include laptop-style {
      width: calc(25px / $laptop-st);
      height: calc(22px / $laptop-st);
    }
  }

  &__card-price {
    font-family: NeueMedium, sans-serif;
    font-size: 32px;
    color: $secondary-color;
    margin-bottom: 16px;

    @include phone-style {
      font-size: 24px;
    }

    @include laptop-style {
      font-size: calc(32px / $laptop-st);
      margin-bottom: calc(16px / $laptop-st);
    }
  }

  &__card-span {
    font-size: 16px;

    @include laptop-style {
      font-size: calc(16px / $laptop-st);
    }
  }

  &__card-inf {
    width: 80%;
    align-self: flex-start;
    font-family: ComicSansBold, sans-serif;
    font-weight: 16px;
    line-height: 140%;
    color: $white-100;

    @include phone-style {
     font-size: 14px;
    }

    @include laptop-style {
      font-size: calc(14px / $laptop-st);
    }
  }

  &__button {
    width: 163px;
    height: 48px;
    margin-bottom: 24px;
   
    @include button;

    @include phone-style {
      width: 176px;
      height: 40px;
      padding: 10.5px 4.5px 10.5px 16.5px;
    }

    @include laptop-style {
      width: calc(163px / $laptop-st);
      height: calc(48px / $laptop-st);
      margin-bottom: calc(24px / $laptop-st);
      padding-left: calc(16px / $laptop-st);
      padding-right: calc(8px / $laptop-st);
      border-radius: calc(24px / $laptop-st);
      font-size: calc(16px / $laptop-st);
    }
  }

  &__button2 {
    @include circle-button;

    @include laptop-style {
      width: calc(34px / $laptop-st);
      height: calc(34px / $laptop-st);
    }
  }

  &__button-img {
    @include button-image;

    @include laptop-style {
      width: calc(10px / $laptop-st);
      height: calc(10px / $laptop-st);
    }

    &--rotate {
      transform: rotate(45deg);
    }
  }

  &__dots {
    width: 100%;
    height: 44px;
    display: none;
   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;



    @include phone-style {
      display: flex; 
      height: 44px;
      margin-bottom: 0;

      &--hw {
        margin-bottom: 0;
      }
    }

    @include tablet-style {
      height: calc(44px * $tablet-st);
      gap: calc(8px * $tablet-st);
      margin-bottom: 0;
    }
  }

  &__dot {
    width: 8px;
    height: 8px;
    background-color: rgba($color: #232323, $alpha: 0.3);
    border-radius: 50px;

    &.is-active {
      background-color: $white-100;
    }

    @include tablet-style {
      width: calc(8px * $tablet-st);
      height: calc(8px * $tablet-st);
    }
  }
  
}