@import "/src/Global";

$laptop: 1.3;

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__buttons {
    display: inline-flex;
    margin-bottom: 56px;

    @include phone-style {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;
    }

    @include laptop-style{
      margin-bottom: calc(56px / $laptop);
    }
  }

  &__uk {
    position: relative;
    width: 261px;
    height: 54px;
    border-radius: 24px 0 0 24px;
    background-color: $white-100;
    border: transparent;
    cursor: pointer;

    &::after {
      content: 'Український викладач';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 261px;
      height: 54px;
      border-radius: 24px;

      font-family: NeueMedium, sans-serif;
      font-size: 18px;
      color: $white-100;
      background-color: $card-color;
      transition: 1s;

      @include phone-style {
        width: 343px;
        height: 40px;
        border-radius: 24px;
        font-size: 16px;
      }

      @include laptop-style {
        width: 261px / $laptop;
        height: 54px / $laptop;
        font-size: 18px / $laptop;
      }
    }

    &--active::after {
      background-color: $white-100;
      color: $black-5;
    }

    @include phone-style {
      width: 343px;
      height: 40px;
      border-radius: 24px;
    }

    @include laptop-style {
      width: 261px / $laptop;
      height: 54px / $laptop;
    }
  }

  &__en {
    position: relative;
    width: 271px;
    height: 54px;
    
    background-color: $white-100;
    border-radius: 0 24px 24px 0;
    border: transparent;
    cursor: pointer;
  
    &::after {
      content: 'Англомовний викладач';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 272px;
      height: 54px;
      border-radius: 24px;

      font-family: NeueMedium, sans-serif;
      font-size: 18px;
      color: $white-100;
  
      background-color: $card-color;
      transition: 1s;

      @include phone-style {
        width: 343px;
        height: 40px;
        border-radius: 24px;
        border: 1px solid $white-100;
        background-color: $primary-color;
        font-size: 16px;
      }

      @include laptop-style {
        width: 261px / $laptop;
        height: 54px / $laptop;
        font-size: 16px / $laptop;
      }
    }

      &--active::after {
        background-color: $white-100;
        color: $black-5;
    }

    @include phone-style {
      width: 343px;
      height: 40px;
      border-radius: 24px;
    }

    @include laptop-style {
      width: 261px / $laptop;
      height: 54px / $laptop;
      font-size: 16px / $laptop;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 82px;


    @include phone-style {
      gap: 16px;
    }

    @include laptop-style {
      gap:  82px / $laptop;
    }
  }

  &__card {
    width: 318px;
    height: 414px;
    background-color: $card-color;
    padding: 32px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #C8CFD7;
    border-radius: 24px;

    @include phone-style {
      width: 343px;
      height: 349px;
      padding: 16px 48px;
    }

    @include laptop-style {
      width: 318px / $laptop;
      height: 414px / $laptop;
      padding: 32px / $laptop 24px / $laptop;
      border-radius: 24px / $laptop;
    }
  }

  &__card-title {
    font-family: NeueMedium, sans-serif;
    font-size: 32px;
    color: $secondary-color;

    @include phone-style {
     font-size: 24px;
     margin-bottom: 4px;
    }

    @include laptop-style {
      font-size: 32px / $laptop;
    }
  }

  &__card-subtitle {
    margin-bottom: 16px;
    font-family: NeueMedium, sans-serif;
    font-size: 18px;
    line-height: 130%; 
    color: $white-100;

    @include phone-style {
      font-size: 16px;
    }

    @include laptop-style {
      margin-bottom: 16px / $laptop;
      font-size: 18px / $laptop;
    }
  }

  &__card-pbox {
    display: inline-flex;
    align-self: flex-start;
    margin-bottom: 8px;

    @include laptop-style {
      font-size: 8px / $laptop;
    }
  }

  &__card-pbox:nth-of-type(3) {
    margin-bottom: 16px;

    @include laptop-style {
      font-size: 16px / $laptop;
      margin-bottom: 8px / $laptop;
    }
  }

  &__card-p {
    font-family: ComicSansRegular, sans-serif;
    font-size: 18px;
    line-height: 130%;
    color: $white-100;

    @include phone-style {
      font-size: 16px;
    }

    @include laptop-style {
      font-size: 18px / $laptop;
    }
  }

  &__card-img {
    width: 25px;
    height: 22px;

    @include laptop-style {
      width: 25px / $laptop;
      height: 22px / $laptop;
    }
  }

  &__card-price {
    font-family: NeueMedium, sans-serif;
    font-size: 32px;
    color: $secondary-color;
    margin-bottom: 16px;

    @include phone-style {
      font-size: 24px;
    }

    @include laptop-style {
      font-size: 32px / $laptop;
      margin-bottom: 16px / $laptop;
    }
  }

  &__card-span {
    font-size: 16px;

    @include laptop-style {
      font-size: 16px / $laptop;
    }
  }

  &__card-inf {
    width: 80%;
    align-self: flex-start;
    font-family: ComicSansBold, sans-serif;
    font-weight: 16px;
    line-height: 140%;
    color: $white-100;

    @include phone-style {
     font-size: 14px;
    }

    @include laptop-style {
      font-size: 14px / $laptop;
    }
  }

  &__button {
    width: 163px;
    height: 48px;
    margin-bottom: 24px;
   
    @include button;

    @include phone-style {
      width: 176px;
      height: 40px;
      padding: 10.5px 4.5px 10.5px 16.5px;
    }

    @include laptop-style {
      width: 163px / $laptop;
      height: 48px / $laptop;
      margin-bottom: 24px / $laptop;
      padding-left: 16px / $laptop;
      padding-right: 8px / $laptop;
      border-radius: 24px / $laptop;
      font-size: 16px / $laptop;
    }
  }

  &__button2 {
    @include circle-button;

    @include laptop-style {
      width: 34px / $laptop;
      height: 34px / $laptop;
    }
  }

  &__button-img {
    @include button-image;

    @include laptop-style {
      width: 10px / $laptop;
      height: 10px / $laptop;
    }

    &--rotate {
      transform: rotate(45deg);
    }
  }
}