@import "/src/Global";
 .main {
  position: relative;
  background-color: $primary-color;
  scroll-behavior: smooth !important;
 }

 @media (min-width: 962px) {
  .animation {
    opacity: 0; 
    transition: transform 1s ease, opacity 1s ease;
   }

  .right {
    transform: translateX(100%); 
  }
  
  .top {
    transform: translateY(-100%); 
  }
  
  .bottom {
    transform: translateY(100%);
  }

  .left {
    transform: translateX(-100%); 
  }
  
  .show {
    opacity: 1; 
    transform: translateX(0) translateY(0); 
  }
 }
 